
# dependencies
/Backend/node_modules
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/Backend/Config/config.env
/Backend/Config/firebaseService.json

# testing
/frontend/coverage

/frontend/src/Config/CloudinaryConfig.js
/frontend/src/Config/FirebaseConfig.js

# production


# misc

/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
